/* .container {
    background-image: url('https://img.freepik.com/free-vector/restaurant-mural-wallpaper_23-2148706001.jpg?w=996&t=st=1689183479~exp=1689184079~hmac=7f8dcb30654c2c90abb9e29296af63d0b4499ff5d1bfda382f87fa9c934bb486');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .registration-form {
    background-color: #ffffff00;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.873);
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .login-link {
    text-align: center;
    margin-top: 10px;
  }
   */









   .register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: '100vw';
    background-color: #000000;
    /* width: 100px; */
  }
  
  .register-card {
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
    justify-content: center;
    
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .register-button,
  .login-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
  }
  .png{
    margin-top: -300px;
  }
  .tin{
    font-size: small;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 6%;
  }
  .form-group1{
    text-align: center;
    justify-content: center;
  }